.feedus{
    width: 80%;
    margin: auto;
    display: flex;
    margin-bottom: 5%;
    margin-top: 10%;
}

.feed-text{
    width: 70%;
}   
.feed-text h1{
    color: yellow;
}
.feed-text p{
    margin-top: 1%;
    font-size: 1.5rem;
    line-height: 2rem;
}
.feed-boy{
    width: 50%;
    height: 100%;
}
.feed-boy img{
    width: 70%;
    margin-left: 5%;
}
@media screen and (max-width: 768px){
    .feedus{
        display: block;
    }
    .feed-text{
        width: 100%;
    } 
    .feed-text p{
        font-size: 1rem;
    }
    .feed-boy{
        width: 100%;
        margin-top: 5%;
    }
    .feed-boy img{
        width: 100%;
    }
}